[app]
debug = true
trace = false

[database]
hostname = 127.0.0.1
database = fastadmin
username = root
password = root
hostport = 3306
prefix = fa_

[redis]
host = 127.0.0.1
password = ''
port = 6379
select = 1
timeout = 0
persistent = false