<link rel="stylesheet" href="__CDN__/assets/addons/shopro/libs/element/element.css">
<link rel="stylesheet" href="__CDN__/assets/addons/shopro/libs/common.css">
<style>
    #recharge {
        color: #444;
        padding: 0 20px 30px;
        background-color: #fff;
    }

    [v-cloak] {
        display: none
    }
</style>
<script src="__CDN__/assets/addons/shopro/libs/vue.js"></script>
<script src="__CDN__/assets/addons/shopro/libs/element/element.js"></script>
<script src="__CDN__/assets/addons/shopro/libs/moment.js"></script>
<div id="recharge" v-cloak>
    <el-form :model="rechargeForm" :rules="rules" ref="rechargeForm" label-width="100px" class="demo-rechargeForm">
        <el-form-item v-if="rechargeType=='money'" label="充值金额：" prop="money">
            <el-input type="number" v-model="rechargeForm.money" placeholder="负数则为扣除"></el-input>
        </el-form-item>
        <el-form-item v-if="rechargeType=='score'" label="充值积分：" prop="score">
            <el-input type="number" v-model="rechargeForm.score" placeholder="负数则为扣除"></el-input>
        </el-form-item>
        <el-form-item label="备注：">
            <el-input v-model="rechargeForm.remarks"></el-input>
        </el-form-item>
    </el-form>
    <div class="dialog-footer display-flex">
        <div @click="submitForm" class="dialog-cancel-btn display-flex-c cursor-pointer">取消</div>
        <div @click="submitForm('yes','rechargeForm')" class="dialog-define-btn display-flex-c cursor-pointer">确定
        </div>
    </div>
</div>