<style>
</style>


<form id="add-form" class="form-horizontal nice-validator n-default n-bootstrap" role="form" data-toggle="validator" method="POST" action="">
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:15%">
                变量标题
            </th>
            <th style="width: 85%;">
                变量值
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>微信公众号</td>
            <td>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <dl class="fieldlist">
                            <dd>
                                <ins>键名</ins>
                                <ins>键值</ins>
                            </dd>
                            <dd class="form-inline">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <span class="btn btn-sm btn-danger btn-remove">
                                    <i class="fa fa-times"></i>
                                </span>
                            </dd>
                            <dd class="form-inline">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <span class="btn btn-sm btn-danger btn-remove">
                                    <i class="fa fa-times"></i>
                                </span>
                            </dd>
                            <dd>
                                <a href="javascript:;" class="btn btn-sm btn-success btn-append">
                                    <i class="fa fa-plus"> 追加</i>
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </td>
        </tr>
            <tr>
            <td>微信小程序</td>
            <td>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <dl class="fieldlist">
                            <dd class="form-inline">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <span class="btn btn-sm btn-danger btn-remove">
                                    <i class="fa fa-times"></i>
                                </span>
                            </dd>
                            <dd class="form-inline">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <span class="btn btn-sm btn-danger btn-remove">
                                    <i class="fa fa-times"></i>
                                </span>
                            </dd>
                            <dd>
                                <a href="javascript:;" class="btn btn-sm btn-success btn-append">
                                    <i class="fa fa-plus"> 追加</i>
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>微信开放平台</td>
            <td>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <dl class="fieldlist">
                            <dd>
                                <a href="javascript:;" class="btn btn-sm btn-success btn-append">
                                    <i class="fa fa-plus"> 追加</i>
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>微信公众号校验文件</td>
            <td>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <dl class="fieldlist">
                            <dd class="form-inline">
                                <input type="text" class="form-control">
                                <span style="position: relative;"><button type="button" id="" class="btn btn-danger plupload" data-input-id="" data-multiple=""><i
                                    class="fa fa-upload"></i>
                                {:__('Upload')}</button>
                                <input style="position: absolute;left: 0;top: 0;width: 30px;height: 30px;" type="file">
                            </span>
                               
                        <span><button type="button" id="}" class="btn btn-primary fachoose" data-input-id="" data-multiple=""><i
                                    class="fa fa-list"></i>
                                {:__('Choose')}</button></span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>微信小程序校验文件</td>
            <td>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <dl class="fieldlist">
                            <dd class="form-inline">
                                <input type="text" class="form-control">
                                <span><button type="button" id="" class="btn btn-danger plupload" data-input-id="" data-multiple=""><i
                                    class="fa fa-upload"></i>
                                {:__('Upload')}</button></span>
                        <span><button type="button" id="}" class="btn btn-primary fachoose" data-input-id="" data-multiple=""><i
                                    class="fa fa-list"></i>
                                {:__('Choose')}</button></span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>公众号服务器地址</td>
            <td>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <dl class="fieldlist">
                            <dd class="form-inline">
                                <input type="text" class="form-control">
                                
                            </dd>
                        </dl>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>IP白名单</td>
            <td>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <dl class="fieldlist">
                            <dd class="form-inline">
                                <input type="text" class="form-control">
                                
                            </dd>
                        </dl>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>微信支付</td>
            <td>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <dl class="fieldlist">
                            <dd>
                                <ins>键名</ins>
                                <ins>键值</ins>
                            </dd>
                            <dd class="form-inline">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <span class="btn btn-sm btn-danger btn-remove">
                                    <i class="fa fa-times"></i>
                                </span>
                            </dd>
                            <dd class="form-inline">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <span class="btn btn-sm btn-danger btn-remove">
                                    <i class="fa fa-times"></i>
                                </span>
                            </dd>
                            <dd>
                                <a href="javascript:;" class="btn btn-sm btn-success btn-append">
                                    <i class="fa fa-plus"> 追加</i>
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </td>
        </tr>
            <tr>

            <td>支付宝支付</td>
            <td>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <dl class="fieldlist">
                            <dd>
                                <a href="javascript:;" class="btn btn-sm btn-success btn-append">
                                    <i class="fa fa-plus"> 追加</i>
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </td>
        </tr>
        <tr>

            <td>余额支付</td>
            <td>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <dl class="fieldlist">
                            <dd>
                                <a href="javascript:;" class="btn-switcher" data-input-id="c-walletpay" data-yes="1" data-no="0">
                                    <i class="fa fa-toggle-on text-success  fa-2x"></i>
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</form>